<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>News Summary</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='team.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <header>
        <nav>
            <div class="nav-container">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa fa-bars"></i>
                </label>
                <label class="logo">News</label>
                <div id="navbar">
                    <ul>
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/team" id="team-link">Team</a>
                        </li>
                        <li>
                            <div class="search-icon" id="searchIcon">
                                <i class="fa fa-search" size="2.6vh"></i>
                            </div>
                        </li>
                        <li>
                            <div class="search-bar" id="searchBar">
                                <input type="search" placeholder=" Search..." size="100" id="search-input" data-search>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="title">
            <h1>
                Team members
            </h1>
        </div>
        <div class="team_members">

            <div class="member">
                <div class="photo">
                    <img src="{{ url_for('static', filename='/Image/ZuriniM.jpeg') }}" alt="ZuriniM">
                </div>
                <p class="member_name">
                    Mădălina<br>Zurini
                </p>
                <div class="member_description">
                    <p>
                        Coordinating teacher
                    </p>
                </div>
            </div>

            <div class="member">
                <div class="photo">
                    <img src="{{ url_for('static', filename='/Image/AndreiC.jpeg') }}" alt="AndreiC">
                </div>
                <p class="member_name">
                    Andrei<br>Codorean
                </p>
                <div class="member_description">
                    <p>
                        AI and summarization
                    </p>
                </div>
            </div>

            <div class="member">
                <div class="photo">
                    <img src="{{ url_for('static', filename='/Image/OctavianC.jpeg') }}" alt="OctavianC">
                </div>
                <p class="member_name">
                    Octavian<br>Căzăceanu
                </p>
                <div class="member_description">
                    <p>
                        Sorting and sending data to front-end
                    </p>
                </div>
            </div>

            <div class="member">
                <div class="photo">
                    <img src="{{ url_for('static', filename='/Image/RobertC.jpeg') }}" alt="RobertC">
                </div>
                <p class="member_name">
                    Robert<br>Cobzarencu
                </p>
                <div class="member_description">
                    <p>
                        Website Interface
                    </p>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <p>&copy;2024 NewsWebsite</p>
    </footer>

</body>

</html>
<!-- END: be15d9bcejpp -->